<% include header %>
<header class="row-fluid text-center">
    <h1> Spee   chN </h1>
    <h4> Alguma coisa saiu errado!!!</h4>
</header>
<section class="row-fluid text-center">
    <p class="text-left">
        Veja os detalhes do erro:
        <br>
        <%- error.message %>
    </p>
    <hr>
    <p>Que tal ir para <a href="/">página inicial</a></p>
</section>
<% include footer %>