<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SpeechN - Agenda de contatos</title>
</head>
<body>
    <header>
        <h1>SpeechN</h1>
        <h4>Bem Vindo!</h4>
    </header>
    <section>
        <form action="/entrar" method="post">
            <input type="text" name="nome" placeholder="Seu nome">
            <br />
            <input type="email" name="email" placeholder="Seu email">
            <br />
            <button> Entrar </button>
        </form>
    </section>
    <footer>
        <small>
            SpeechN - Agenda de contatos
        </small>
    </footer>
</body>
</html>