<% include header %>
<header class="row-fluid text-center">
    <h1>SpeechN</h1>
    <h4>Infelizmente essa página não foi encontrada. :(</h4>
</header>
<hr>
<p class="text-center">Vamos voltar para <a href="/">página inicial</a></p>
<% include footer %>