<% include ../header %>
<header class="row-fluid text-center">
    <h2>SpeechN - Agenda de Contatos</h2>
</header>
<!--    <p>Bem Vindo <%- usuario.nome %></p> -->
    <section class="row-fluid">
            <section class="span12">
    <form action="/contato" method="POST"  class="well form-inline">
        <input type="text" name="contato[nome]" placeholder="Nome">
        <input type="email" name="contato[email]" placeholder="E-mail">
        <button class="btn btn-primary">Cadastrar</button>
    </form>
    <table class="table well">
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <% contatos.forEach(function(contato, index) {%>
                <tr>
                    <td> <%- contato.nome %> </td>
                    <td> <%- contato.email %> </td>
                    <td> <a href="/contato/<%- index %>">Detalhes</a> </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    </section>
</section>
<% include ../logout %>
<% include ../footer %>